/* ë§ */
#taste {
    
}
#taste .inner {
}
#taste .inner h2.h2 {
margin-bottom:50px; 
}
#taste .inner ul.list {
  width: 90%;
  gap: 10px;
  text-align:center;
  flex-wrap: wrap;
  row-gap: 40px;
}
#taste .inner ul.list li {
  width: calc((100% / 6) - (50px / 6));
  box-sizing: border-box;
  transition: all 0.5s ease;
}
#taste .inner ul.list li:hover{
  transform: translateY(-15px);    
}
#taste .inner ul.list li::before{
  content: "";
  display: block;
  width: 100%;
  background-color: yellow;
  height: 262px;
  border-radius: 6px;
  margin-bottom: 11px;

  background-repeat: no-repeat;
  background-position: center;
}
#taste .inner ul.list li:nth-child(1)::before{
    background-image: url(../img/1.png);
    background-color: #efe4db;
}
#taste .inner ul.list li:nth-child(2)::before{
    background-image: url(../img/2.png);
    background-color: #f6efe0;
}
#taste .inner ul.list li:nth-child(3)::before{
    background-image: url(../img/3.png);
    background-color: #f9e5e5;
}
#taste .inner ul.list li:nth-child(4)::before{
    background-image: url(../img/4.png);
    background-color: #ededed;
}
#taste .inner ul.list li:nth-child(5)::before{
    background-image: url(../img/5.png);
    background-color: #e4f3f9;
}
#taste .inner ul.list li:nth-child(6)::before{
    background-image: url(../img/6.png);
    background-color: #fcf4e5;
}
#taste .inner ul.list li a {
  width: 100%;
  display: block;
  background-color: #f9f9f9;
  border-radius: 6px;
  line-height: 1.9;
  position: relative;
  overflow: hidden;
}
#taste .inner ul.list li a::before{
  content: "VIEW MORE";
  display: block;
  background-color: red;
  color: white;
  position:absolute;
  width: 100%;
  display: none;
}
#taste .inner ul.list li:hover a::before{
  display: block;
}





/* ë¸ëëìµ */
#shop {
  
}
#shop div.inner {
  
}
#shop::before{
  content: "BRAND";
  font-size: 100px;
  opacity: 0.1;
  position: absolute;
  transform-origin: 0px 89%;
    transform: rotate(90deg)translateY(10px);
}
#shop div.inner .h2 {
  
  margin-bottom: 50px;
}
#shop div.inner ul.list {
  
  width: 90%;
  gap: 10px;
}
#shop div.inner ul.list li {
  
  border-radius: 40px;
  border: 1px solid #e1dbdb;
  width: calc(100% / 6);
  height: 261px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#shop div.inner ul.list li:hover>*{
  display: block;
  
  
  
}
#shop div.inner ul.list li>*:not(h3){/*íì(>) ëª¨ë ê² (*) :not(?) ?ë¥¼ ì ì¸í ëª¨ë ê² */
  display: none;
  
  
}
#shop div.inner ul.list li h3 {
   
  font-size: 0;
}
#shop div.inner ul.list li h3 img {
  
  transition: all 0.5s ease-in-out;
}
#shop div.inner ul.list li h3 br {
  
}
#shop div.inner ul.list li  p {
  
}
#shop div.inner ul.list li p::before{
  content:"";
  
  width: 60px;
  display: block;
  border-top: 2px solid #ccc;
  margin: 0 auto;
  margin-bottom: 16px;
}
#shop div.inner ul.list li a {
  background-color: red;
  color: white;
  width: 90%;
  line-height: 2;/* ê¸ìëì´ 2ì¹¸ */
  border-radius: 16px;
  text-align: center
  

}
#shop div.inner ul.list li:hover>*:not(h3, p){
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
}
@keyframes hide {
  from{
    transform: translateY(10px);
    opacity: 0;
  }
  to{
    opacity:1;
     transform: translateY(0px);
  }
}
#shop div.inner ul.list li:hover>*:not(a){
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  
  text-align: center;
  line-height: 2;
}
@keyframes fadeUp {
  from{
    
    transform: translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(40px);
    opacity: 0;
    
  }
}




#shop div.inner ul.list li:hover>* img{
  transform:scale(0.7);
}
  /* ì¬ì´ë² */

  
  #community {
  
  /*! position: relative; */
  /*! position: fixed; */
  }
  #community .inner {
    
  gap: 50px;
  }
#community .inner div{
  
  width: calc(80% + 50px);
  gap: 50px;
  box-shadow: 0px 2px 4px #959393;
}
  #community .inner h2 {
    
  }
  #community .inner div article {
    border-radius: 30px;
    
  }
#community .inner>*{
  border-radius: 30px;
  
  box-sizing: border-box;
}
  #community .inner > article {
    
  width: 40%;
  height: 280px;
  }
  #community .inner > article.cyber {
    
  background-color: #fcf5e5;
  background-image: url(../img/commu1.png);
  }
  #community .inner > article.sinmungo {
    
  background-color: #f9f9f9;
  background-image: url(../img/commu2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-origin: content-box;
  }
  #community .inner > article h3 {
    
  }
  #community .inner > article p {
    
  }
  #community .inner > article > a {
    
  }

 #community .inner div article:not(.faq){
   
  width: calc(100% / 2 - (50px / 2));
  height: 280px;
   
  box-sizing: border-box;
}
  #community .inner div article.faq {
    
  width: 100%;
  background-color: #ffffff;
  position: relative;
  }
  #community .inner div article.email {
    
  background-color: #eef8fb;
  background-image: url(../img/commu3.png);
  }
  #community .inner div article.telephone {
    
  background-color: #fdf3f2;
  background-image: url(../img/commu4.png);
  }
  #community .inner div article>h3 {
    margin-bottom: 30px;
    
    
  }
  #community .inner div article ul {
    
  row-gap: 10px;
  gap: 20px;
  }
  #community .inner div article ul li {
    
  width: calc(100% / 2 - 50px / 2);
  background-color: #eee;
    box-sizing: border-box;
    
  line-height: 4;
  border-radius: 30px;
  /*! padding-left: 20px; */
  box-shadow: 0px 2px 4px #959393 inset;
  }



}
 #community .inner div article ul li:nth-child(even){
   /*margin-left: 50px;*/
   
}
  #community .inner div article ul li a {
    
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  }
#community .inner div article ul li a::after{
  content: " ↗";
  width: 36px;
  height: 36px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;

  
  
  text-align: center;
  line-height: 31px;
  color: white;

  transform:scale(0);
    transition: all 0.7s;
}
#community .inner div article ul li:hover a::after{
 
  transform: scale(1);
}
  #community .inner div article p {
   
  }
  #community .inner div article.email > a {
    
  }
  
 #community .inner div article > a.viewmore{
   position:absolute;
   
   top: 0;
   right: 0;
   padding: 0 45PX;
   line-height: 2.3;
   background-color: white;
   color: black;
   border-radius: 20px;
   /*! font-size: 25px; */
   /*! box-sizing: border-box; */
   border: 0.3px solid black;
}
#community .inner div article > a.viewmore:hover{
  background-color: red;
  color:white;
  
  
}
#community .inner div article.telephone a{
  font-size: 50px;
  font-weight: 700; 
  line-height: 2;
  
}
/* 사이드메뉴 */
aside#quick{
 position: fixed;
 right: 20px;
 bottom: 80px;
}
aside span{

 row-gap: 10px;
}
aside#quick a.shop{
 width: 50px;
 height: 50px;
 background-color: white;
 border-radius: 50%;
 text-align: center;
 line-height: 50px;
 font-size: 15px;
}
aside#quick a.top{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside a.top::before{
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border:2px solid #fff;
  border-left: transparent;
  border-bottom:transparent;
  transform: translateY(50%) rotate(-45deg);
 transition:  all 0.5s;
  
  
}
aside#quick a.top::before{
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-left: transparent;
  border-bottom: transparent;
  transform: translateY(50%) rotate(-45deg);
  transition: all 0.5s;
  }
aside#quick a.top:hover::before{
  margin-top:-10px; 
}
aside#quick a.top::after{
  content: "";
  width: 2px;
  height: 18px;
  display: block;
  background-color: #fff;
  transform: translateY(-35%);
  }



=
